.title {
  text-align: center;
}

.text {
  display: block;
  margin: 50px 20px;
}

.player {
  color: #496a81;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 100px;
}
