.voting {
  .user-card_container {
    width: auto;
  }

  .ant-card-body {
    padding: 10px;
  }

  .user-card_userRole {
    font-size: 0.7rem;
  }

  .delete_member {
    position: absolute;
    right: 10px;
  }
}
