.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card {
    height: 170px;
  }

  .issue-container {
    margin: 20px;
  }

  .result-btn {
    margin-top: 50px;
  }
}
