.card {
  width: 100%;
  min-width: 190px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.card:hover {
  background: rgba(80, 215, 195, 0.2);
}

.card.current {
  background: rgba(81, 215, 194, 0.3);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text {
  max-width: 80px;
}
.priority {
  font-weight: 400;
  font-size: 9px;
  margin-top: -5px;
}

.editedIcon,
.deletedIcon {
  display: inline-block;
  font-size: 18px;
  padding: 1px;
  margin: auto 5px;
  color: #2b3a67;
}

.deletedIcon {
  color: #d70505;
}

.addedIcon {
  font-size: 18px;
  color: #2b3a67;
}

.addedIcon:hover {
  color: #66999b;
}
